/* CSS Document */
@charset "utf-8";
/* CSS Document */
*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family:"Microsoft YaHei", Verdana, Geneva, sans-serif;
   list-style-type: none;
   letter-spacing: 0.5px;
}
body{
   background-color: #EEF3FA;
}
#wrapper{
   width: 70%;
   margin: 0 auto;
   background-color: #FFFFFF;
   border:1px solid #E7E7E7;
}
.img_logo{
   display: block;
   float: left;
   margin-top: 25px;
   margin-left: 50px;
}
.img_denglu span{
   float: right;
   margin-right: 65px;
   margin-top: 18px;
}
.img_denglu img{
   float: right;
   display: inline;
   margin-right: 5px;
   margin-top: 5px;
   padding-top: 10px;
}
.img_denglu a{
   color: black;
}
.nav{
   width: 100%;
   padding-top: 60px;
}
.nav ul li{
   float: left;
   margin-left: 5px;
   text-align: center;
}
.nav ul li a{
   color:black;
   font-size: 16px;
   display: block;
   padding-bottom: 5px;
}

.img_logo_1 img{

   margin-left: 13px;
   margin-right: 10px;
}
.nav ul li a:hover{
   border-bottom:5px solid #FFCC33;
   text-decoration: none;
}
.nav ul li.huang a{
   border-bottom: 5px solid #FFCC33;
   text-decoration: none;
}
.clear{
   clear: both;
}
.language{
   float: right;
   margin-top: 22px;
   margin-right: 12px;
   font-size: 13px;
}